body {
    background-color: bisque;
    font-family:sans-serif; 
    color: rgb(114, 21, 5);
}

a {
    color: rgb(77, 14, 4);
    font-size: 3vw;
}

.circle {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;

    padding: 0.01em;
    border-radius: 50%;
    aspect-ratio: 3.5;
    background-color: rgba(243, 211, 171, 0.912);

}

.title {
    text-align: center;
    font-size: 10vw;
    font-family:  Garamond, serif;
    color: rgb(114, 21, 5);
    text-decoration: underline 1.5vh;
}

#cutting-board {

    max-width: 10%;
    height: auto;

}
